[Service]
User=deployuser
Group=deployuser
WorkingDirectory=/home/deployuser/expenses-tracking-backend
ExecStart=/bin/bash -c 'source /home/deployuser/expenses-tracking-backend/myenv/bin/activate && /home/deployuser/expenses-tracking-backend/myenv/bin/gunicorn --workers 3 --bind unix:/home/deployuser/expenses-tracking-backend/gunicorn.sock backend.wsgi:application'

# Optional: Restart Gunicorn if it fails
Restart=always

# Ensure that the service is restarted if it crashes
RestartSec=3

# Set the service to start after networking is available
After=network.target

# Ensure Gunicorn has enough time to stop gracefully
TimeoutStopSec=30
