[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
#User=deployuser
#Group=deployuser
#WorkingDirectory=/home/deployuser/project/expenses-tracking-backend
ExecStart=/bin/bash -c 'source /home/deployuser/project/expenses-tracking-backend/myenv/bin/activate && /home/deployuser/project/expenses-tracking-backend/myenv/bin/gunicorn --workers 3 --bind unix:/home/deployuser/project/expenses-tracking-backend/gunicorn.sock backend.wsgi:application'

[Install]
WantedBy=multi-user.target
